In [1]:
from datetime import datetime
import pandas as pd

In [2]:
df = pd.DataFrame(pd.read_csv('../Data/reviews.csv'))

In [6]:
df = df[["rating", "userId", "movieId"]]

In [7]:
df

        rating  userId  movieId
0          4.0       1        1
1          4.0       1        3
2          4.0       1        6
3          5.0       1       47
4          5.0       1       50
...        ...     ...      ...
100831     4.0     610   166534
100832     5.0     610   168248
100833     5.0     610   168250
100834     5.0     610   168252
100835     3.0     610   170875

[100836 rows x 3 columns]

In [8]:
df.to_csv('../Data/ratings.csv', index=False)